@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/** Variables - colors **/
:root {
    /* Light */
    --color-light-50: #f8fafc;

    /* Dark */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    /*Blue */
    --color-blue-50: #048DBA;
    --color-blue-100: #9CA6FF;
    --color-blue-200: #5C6EB8;
    --color-blue-300: #150182;
    --color-blue-400: #579CAD;
    --color-blue-500: #8352e3;

    /* Gradient */
    --color-gradient: linear-gradient(90deg, var(--color-blue-500), var(--color-blue-400));
}
body {
    height: 100vh;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;


    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}
